# Mongolite 3<sup>rd</sup> video: 

# `Basic commands with Shell commands`

# <font color=red> Mr Fugu Data Science</font>

# (‚óï‚Äø‚óï‚úø)

In [6]:
# install.packages('mongolite')

In [7]:
library(tidyverse)
library(knitr)     # help run code
library(markdown)  # create markdown files i.e. pdf
library(mongolite) # Create connection/Interface R<-> Mongodb

Warning message:
‚Äúpackage ‚Äòmongolite‚Äô was built under R version 4.0.2‚Äù

In [13]:
# Create Connection: 'localhost'

mng_conn<-mongo(collection = 'vidPrac',db='video_practice')

#''' Pay attention, you may get an error: `No suitable server`, I got it to work by
# opening the terminal and making a mongod connection
#'''

In [11]:
# mng_conn$info()

# `Insert`: (side note), when you are doing this insert there is a difference ('') vs ("")

In [285]:

fun_dta <- c('{"first_name":"Mr Bilbo","last_name": "Baggins","hobbies":["find rings",
"adventure","magic"]}','{"first_name":"Golumn","hobbies":["steal rings","bite people",
"talk to myself"]}')

mng_conn$insert(fun_dta)

List of 6
 $ nInserted  : int 2
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

# Check Out Current Data:

In [286]:

mng_conn$find('{}')

  first_name last_name hobbies
1 Mr Bilbo   Baggins   find rings, adventure , magic
2 Golumn     NA        steal rings   , bite people   , talk to myself

# `Update` 'Golumn' and add a Last Name:

In [287]:
mng_conn$update('{"first_name":"Golumn"}', 
                '{"$set":{"last_name": "The Lonely"}}',upsert=TRUE)

List of 3
 $ modifiedCount: int 1
 $ matchedCount : int 1
 $ upsertedCount: int 0

In [288]:
mng_conn$find('{}')

  first_name last_name  hobbies
1 Mr Bilbo   Baggins    find rings, adventure , magic
2 Golumn     The Lonely steal rings   , bite people   , talk to myself

# Add Element to specific document array:

+ `Cut and paste your unique OID Number!`

`TO FIND USE QUERY DIRECTLY BELOW:`

In [289]:
mng_conn$find('{}',fields='{"_id":1}')

  _id
1 5f1cfe17cd0f397a012339ea
2 5f1cfe17cd0f397a012339eb

In [290]:
mng_conn$aggregate('[{"$match":{"_id":{"$oid":"5f1cfe17cd0f397a012339eb"}}},
{"$addFields":{"hobbies":{"$concatArrays":["$hobbies",["Eat Fish"]]}}}]')

mng_conn$find('{}')

  _id                      first_name
1 5f1cfe17cd0f397a012339eb Golumn
  hobbies                                                        last_name
1 steal rings   , bite people   , talk to myself, Eat Fish       The Lonely

  first_name last_name  hobbies
1 Mr Bilbo   Baggins    find rings, adventure , magic
2 Golumn     The Lonely steal rings   , bite people   , talk to myself

# Add Element to List:

+ Calling specific Document I want to update and add element to

In [291]:

mng_conn$update('{"_id":{"$oid":"5f1cfe17cd0f397a012339eb"}}',
'{"$push":{"hobbies":"Eat Fish"}}',upsert=TRUE)

List of 3
 $ modifiedCount: int 1
 $ matchedCount : int 1
 $ upsertedCount: int 0

In [292]:
mng_conn$find('{}')

  first_name last_name
1 Mr Bilbo   Baggins
2 Golumn     The Lonely
  hobbies
1 find rings, adventure , magic
2 steal rings   , bite people   , talk to myself, Eat Fish

# Sorting:

+ Unless you specify, the result will not show order of fields ['think columns'] 

+ There is a memory size limit, around 32 megabytes, large dataset will not be sorted
    + to get around this create an index

In [293]:
mng_conn$find(sort='{"first_name":1,"latst_name":1}')

  first_name hobbies
1 Golumn     steal rings   , bite people   , talk to myself, Eat Fish
2 Mr Bilbo   find rings, adventure , magic
  last_name
1 The Lonely
2 Baggins

# Select by ID:

In [295]:
mng_conn$find('{"_id":{"$oid":"5f1cfe17cd0f397a012339eb"}}')

  first_name hobbies
1 Golumn     steal rings   , bite people   , talk to myself, Eat Fish
  last_name
1 The Lonely

# Download files:

In [259]:
# file_toSave<-mng_conn$find()

# create directory, within our CWD to store output file
dir.create('output_files_practice')

# send file to our directory:
mng_conn$export(file("output_files_practice/hobbits.json"))

# Delete:
 
 + We can drop a single record: `mng_conn$remove('what_toRemove',just_one=TRUE)`
 
 + All records in a collection but Not the collection itself: `mng_conn$remove('{}')`
 
 + Remove Collection: `mng_conn$drop()`

In [261]:
mng_conn$remove('{"_id":{"$oid":"5f1cbbf5cd0f397a012339e7"}}')

In [282]:
mng_conn$find('{}')

  first_name last_name  hobbies
1 Mr Bilbo   Baggins    find rings, adventure , magic
2 Golumn     The Lonely steal rings   , bite people   , talk to myself
3 NA         NA         Eat Fish

In [283]:
#Drop All Records But NOT collection
mng_conn$remove('{}')

In [284]:
mng_conn$find('{}')

In [267]:
# Drop Collection:
mng_conn$drop()

In [268]:
mng_conn$find('{}')

# `Shell Commands`:

`------------------------`

**Show Databases**: `show dbs`

**Check What Database You're Currently In**: `db`

**Enter/Use a Database**: `use dbnamehere`
+ If this database is not currently used, it will be created otherwise it will just connect

**Show Collections**: `show collections`

**If your Collection Name has a Weird Name like spaces or hypens**: `db.getCollection(" your weird name").find()`

**Switch Database without Leaving Current Database**: `db.getSiblingDB('fromCurrentDB')`
+ This is particularly useful when writing a script and you cannot access a database using the `use db` method.

**Exit MongoDB**: `quit()`

**Help**: `db.help`
+ This will show all of the functions/methods available to you

`---------------------------`

# <font color=red>Like</font>, Share &

# <font color=red>SUB</font>scribe

# TURN ON  Notification üîî 
`---------------------------`

# Citations & Help:

# ‚óîÃØ‚óî

https://jeroen.github.io/mongolite/import-export.html

https://jeroen.github.io/mongolite/gridfs.html#vectorized-uploaddownload

https://docs.mongodb.com/manual/mongo/ (shell commands)

https://docs.mongodb.com/manual/reference/method/db.getSiblingDB/#db.getSiblingDB

https://jeroen.github.io/mongolite/manipulate-data.html

https://docs.mongodb.com/manual/reference/operator/aggregation/addFields/

https://kb.objectrocket.com/mongo-db/add-new-field-in-mongodb-document-array-582#:~:text=So%2C%20Adding%20a%20new%20field,use%20%24each%20inside%20%24push

https://jeroen.github.io/mongolite/import-export.html

https://medium.com/@paulrohan/aggregation-in-mongodb-8195c8624337