# `PyMongo: Add & Delete Columns (Python-MongoDB)`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

<font size=5>**`Help Support The Channel: Patreon @mrfugudatasci`**</font>
    
**`Or Consider One Time Donation: Buy Me A Coffee @mrfugudatasci`**

In [1]:
# Install PyMongo, if you don't have already...

import pymongo as pym      # Interface with Python <--> MongoDB 
import pandas as pd        # Create Dataframe
import pprint as pp        # readibility for our data
from bson.code import Code # Help with Map-Reduce

# `Side Note:`

**If you are using Homebrew (Mac) and you don't run mongoDB in the background**

+ Then you will need to turn on your connection before we get started. 
    + In the terminal I do: **`mongod`** then we can use python to move forward
    
+ If you have your own server or crendtials you will need to use them.

Otherwise, just for practice do something similar to what I do below

In [106]:
# Making a Connection to MongoClient
client = pym.MongoClient('mongodb://localhost:27017/')

# CREATING A DATABASE:
db = client["berkeley"]

# CREATING A COLLECTION (*AKA* TABLE):
candidate_user_info= db["recruiter_clients"]

# `We will do 2 different ways of creating (columns) using`

+ `Update`
+ `Addfields`

In [107]:
candidate_user_info.find_one({})

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no'}}

# 1. ) `Add Columns with Update`

+ First, `update` then add `$set` operator for the column "field" you want

In [108]:
candidate_user_info.update(
    {},{'$set': {"DOB": ""}},False,True)

/Users/zatoichi59/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [109]:
candidate_user_info.find_one()

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no'},
 'DOB': ''}

In [110]:
# Now we can update a few peoples birthdays:

from bson.objectid import ObjectId

candidate_user_info.update_one({"_id":ObjectId('5eb5cc5b47c72ccce7539c1b')},
{'$set': {'DOB': '01/31/1998'}})

In [114]:
candidate_user_info.find_one({"_id":ObjectId('5eb5cc5b47c72ccce7539c1b')})

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no'},
 'DOB': '01/31/1998'}

In [117]:
q=candidate_user_info.find({})

pd.DataFrame.from_dict(q).head()

,_id,candidate,DOB,lastModified
0,5eb5cc5b47c72ccce7539c1b,"{'first_name': 'Margaret', 'last_name': 'Mcdon...",01/31/1998,NaT
1,5eb5cc5b47c72ccce7539c1c,"{'first_name': 'Michael', 'last_name': 'Carter...",NaN,NaT
2,5eb5cc5b47c72ccce7539c1d,"{'first_name': 'Brenda', 'last_name': 'Tyler',...",NaN,NaT
3,5eb5cc5b47c72ccce7539c1e,"{'first_name': 'Joseph', 'last_name': 'King', ...",NaN,NaT
4,5eb5cc5b47c72ccce7539c1f,"{'first_name': 'Laura', 'last_name': 'Webb', '...",NaN,NaT

# `What About Adding Nested Fields/Columns?`

From Above we didn't achieve what we set out to do. In our case, we didn't pay attention and added the date of birth to the outside of the nested json (bson) object.

+ While it is attached to the specific person, and can be used. Let's try to get it inside instead as an option.

In [126]:
candidate_user_info.update(
    {},{'$set': {"candidate.DOB": ""}},False,True)

/Users/zatoichi59/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [140]:
candidate_user_info.find_one()

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no',
  'DOB': '01/31/1998'},
 'DOB': '01/31/1998'}

In [134]:
# Now let's update the DOB for the person, but inside nested part instead:

candidate_user_info.update_one({"_id":ObjectId('5eb5cc5b47c72ccce7539c1b')},
{'$set': {'candidate.DOB': '01/31/1998'}})

# `We are adding the DOB, in the nested part`

+ we still have the messed up column to remove which will be done soon.

In [139]:

candidate_user_info.find_one({"_id":ObjectId('5eb5cc5b47c72ccce7539c1b')})

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no',
  'DOB': '01/31/1998'},
 'DOB': '01/31/1998'}

# 2. )  `Using aggregate with $addfields:`

+ This will not alter the data permanately, it will do a query and output the data based on what it can use with built in memory. `you can look into $out`
    + This will save to a collection though! so using the `$out` is an exception, refer to documentation for clarification.

`db.Your_collection_name.aggregate(
[
        {            '$addFields': {
               "DOB": "$Unknown"
           }
        }
    ])`


**But, for some reason this query doesn't work with PyMongo Not sure what I am doing wrong, it doesn't work in mongo shell**


`----------------------`

# `Update Specific Fields: For a specific person`

In [71]:
candidate_user_info.find_one()

{'_id': ObjectId('5eb4a812e41ac928d7d6d068'),
 '': 2,
 'first_name': 'Brenda',
 'last_name': 'Tyler',
 'skills': "['Spark']",
 'state': 'UT',
 'specialty_exper': "'({'specialty': 'Statistics'}",
 'relocation': "{'experience': 'Mid'})'",
 'field7': 'no',
 'preferred_name': 'BB',
 'retired_status': 'NA'}

In [36]:
from bson.objectid import ObjectId

candidate_user_info.update_one({"_id":ObjectId('5eb4a812e41ac928d7d6d068')},
{'$set': {'preferred_name': 'BB'}})

In [37]:
candidate_user_info.find_one({"_id":ObjectId('5eb4a812e41ac928d7d6d068')})

{'_id': ObjectId('5eb4a812e41ac928d7d6d068'),
 '': 2,
 'first_name': 'Brenda',
 'last_name': 'Tyler',
 'skills': "['Spark']",
 'state': 'UT',
 'specialty_exper': "'({'specialty': 'Statistics'}",
 'relocation': "{'experience': 'Mid'})'",
 'field7': 'no',
 'preferred_name': 'BB',
 'retired_status': 'NA'}

In [38]:
candidate_user_info.update_one({"_id":ObjectId('5eb4a812e41ac928d7d6d068')},
{'$set': {'retired_status': 'NA'}})

In [40]:
candidate_user_info.find_one({"_id":ObjectId('5eb4a812e41ac928d7d6d068')})

{'_id': ObjectId('5eb4a812e41ac928d7d6d068'),
 '': 2,
 'first_name': 'Brenda',
 'last_name': 'Tyler',
 'skills': "['Spark']",
 'state': 'UT',
 'specialty_exper': "'({'specialty': 'Statistics'}",
 'relocation': "{'experience': 'Mid'})'",
 'field7': 'no',
 'preferred_name': 'BB',
 'retired_status': 'NA'}

# 3. ) `Delete Column:`

+ We can delete a field from a particular entry (row) which would remove the specific field/column.
    + In this case we can use `update` followed by `$unset`

+ Or delete the whole column/fields for all entries for 1 or more documents.
    + If we are trying to just remove this: ``

In [142]:
candidate_user_info.update({}, {'$unset': {'DOB':1}}, False, True)

/Users/zatoichi59/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [143]:
candidate_user_info.find_one()

{'_id': ObjectId('5eb5cc5b47c72ccce7539c1b'),
 'candidate': {'first_name': 'Margaret',
  'last_name': 'Mcdonald',
  'skills': ['skLearn', 'Java', 'R', 'SQL', 'Spark', 'C++'],
  'state': 'AL',
  'specialty': 'Database',
  'experience': 'Junior',
  'relocation': 'no',
  'DOB': '01/31/1998'}}

`-----------------------------`

# Further Thoughts:

`+++++++++++++++++++++++++`


# `Push & addtoset`

+ `$push`: appends a value to an array
  
+ `$addtoset`: will add elements to your list
    + look into `$each` which may be neccessary as well
    
# `Upsert=True`

+ There are considerations when using this:

We can have issues with updates and inserts giving us duplicates. Since, MongoDB doesn't have `transactions` in mind like RDMS we have to be creative and thoughtful. 
+ Having a `unique index` will help if you want to do `upsert=True`
+ Also, errors can persist if you are using dot notation for your index and trying to apply `upsert=True`

# <font color=red>Like</font>, Share &

# <font color=red>SUB</font>scribe


<font size=5>**`Help Support The Channel: Patreon @mrfugudatasci`**</font>
    
**`Or Consider One Time Donation: Buy Me A Coffee @mrfugudatasci`**

# `Citations & Help:`

# ◔̯◔

https://www.tutorialspoint.com/how-to-add-a-column-in-mongodb-collection

https://docs.mongodb.com/manual/reference/operator/aggregation/addFields/

http://burnignorance.com/mongodb-tips-and-tricks/add-and-remove-fieldscolumns-from-mongo-database-collectiontable/

http://cis.csuohio.edu/~sschung/cis612/MongoDB%20Update%20with%20upsert.pdf

http://www.kamsky.org/stupid-tricks-with-mongodb/category/aggregation

https://docs.mongodb.com/manual/reference/operator/update/set/

https://docs.mongodb.com/manual/reference/operator/aggregation/addFields/

https://stackoverflow.com/questions/7714216/add-new-field-to-every-document-in-a-mongodb-collection

https://stackoverflow.com/questions/13710770/how-to-update-values-using-pymongo

https://www.tutorialspoint.com/mongodb-addtoset-to-add-a-deep-nested-array-of-object

https://stackoverflow.com/questions/6851933/how-to-remove-a-field-completely-from-a-mongodb-document