# `Python to MySQL: Hiccups you will encounter`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

# `Outcome:`

+ `Problems with Date-Time`
+ `Handling NaN`
+ `Schema Considerations`
+ `Dot Notation Naming`

In [ ]:
import pandas as pd # dataframe stuff
import json # 
from collections import defaultdict # dictionary where values are a list
import numpy as np # formatting data with Nan
from datetime import date
import datetime

import collections # This is used to help find duplicate values later

In [ ]:
# Dot Notation from JSON data, explain and fix formatting

In [ ]:
# Date Information NaN values, issues with MySQL

In [ ]:
# OID issue and convert:

# `If you want user credential setup go here:`

https://github.com/MrFuguDataScience/SendDataFrom-R-Python-to-SQL-PSQL-Mongo/blob/master/Python_to_mysql_configFiles.ipynb

IF YOU DO NOT HAVE CREDENTIALS OR IT DOESN'T MATTER TO YOU TRY THIS:

`
cnx = mysql.connector.connect(user='bambam', password='password',
                              host='127.0.0.1',
                              database='cowboy_doodah')
cnx.close()
`

+ Remember: replace, user, password and database with your information!

In [ ]:
# I had to turn on mysql server for this to work next: on Mac terminal


# mysql.server start

In [1]:
# Setup MySQL for us to send data and create a new DB

import mysql.connector as mysql # establish connection to mysql 

from mysql.connector import MySQLConnection # using Class for function call

import pandas as pd  # Create Dataframe

from python_to_myql_config import read_db_config # calling config files, (you need to make this) 
# stored user credentials I have, or use the block of code below

import csv

In [2]:
db_config = read_db_config() # user credentials are mine, you will need to change this line

conn = MySQLConnection(**read_db_config()) # establish connection

mycursor = conn.cursor() # cursor, allows us to do queries,send/retrieve data

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (61 Connection refused)

In [ ]:
# Show What DB we are using:

# show what database we are currently using:
mycursor.execute("SELECT DATABASE()")
mycursor.fetchall()

In [ ]:
# Turn this on, if you have issues sending data

mycursor.execute('SET GLOBAL local_infile=1')

# This checks if you have issues with exporting later due to security:
mycursor.execute('SHOW VARIABLES LIKE "secure_file_priv"')
mycursor.fetchall()

In [ ]:
# Want this ON, so we can transfer data depending on how you setup Import to MySQL
mycursor.execute("SHOW GLOBAL VARIABLES LIKE 'local_infile'")
mycursor.fetchall()

# Like, Share & <font color=red>SUB</font>scribe

# `Citations & Help:`

# ◔̯◔

https://stackoverflow.com/questions/24942538/sql-wont-insert-null-values-with-bulk-insert

https://stackoverflow.com/questions/45756557/inserting-nan-value-into-mysql-database

https://www.tutorialspoint.com/can-mysql-automatically-convert-empty-strings-to-null

https://stackoverflow.com/questions/41027882/convert-nan-values-to-null-in-mysql-columns-with-python-code

https://dev.mysql.com/doc/refman/8.0/en/problems-with-null.html

https://www.tutorialspoint.com/can-mysql-automatically-convert-empty-strings-to-null

https://www.programiz.com/python-programming/datetime/strftime

https://stackoverflow.com/questions/66477410/how-can-i-insert-id-oid-5ec796a7868d607e00f4b18d-and-time-15901